.homepage {
    padding-top: 3rem;
    background-image: url(assets/gambar1.jpeg);
}

.myprofil {
    background-color: navy;
    margin-top: -10px;
}

.myexp {
    padding-top: 4rem;
    padding-bottom: 4rem;
    background-image: url(assets/gambar1.jpeg);
}

.mycontact {
    background-color: navy;
    margin-top: -60px;
}

footer {
    background-color: navy;
}
